# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#User Preference Files
*.suo
*.userprefs
*.user
*.sln.DotSettings.user

# mstest test results
TestResults

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
#!**/packages/repositories.config

#Build Script Artifacts
Package
coverity.zip
cov-int
cov-analysis-win64-*
BCLExtensionsCoverage.xml
BCLExtensions.*.zip
BCLExtensions.*.nupkg